*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    -webkit-font-smoothing: antialiased;
}

:root{
    --bg-color: #CFE0C3;
    --bg2-color: #0B2027;
    --letra: #fff;
    --botao: #344F51;
 }

 body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--bg-color);
}

.tudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cima {
    display: flex;
    align-items: center;
    margin-bottom: -30px;
}

.bola{
width: 30px;
height: 30px;
background-color: var(--bg2-color);
border-radius: 50%;
margin-right: 10px;
}

.pergunta{
width: 400px;
height: 30px;
background-color: var(--bg2-color);
border-radius: 36px;
}

.rp {
    background-color: var(--bg2-color);
    color: white;
    padding: 100px;
    border-radius: 36px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    text-align: center;
}

.r1,.r2,.r3,.r4{
    background-color: var(--botao);
    color: var(--letra);
    text-decoration: none;
    padding: 15px 60px;
    margin: 5px 0px;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
    display: block;
    width: 100%;
}

.botoes{
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    
}

